
/*GROW*/
.grow img {
  height: 150px;
  width: 150px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
		  
		  align:center;
}
 
.grow img:hover {
  width: 200px;
  height: 200px;
}