#Title
{
  position : absolute;
  max-width : 600px;
  top : 33.5%;
  left : 33%;
}
#Title p
{
  font-size : 40px;
  text-align : center;
}
.sexy_line 
{ 
    left : 13%;
    position : relative;
    top : 275px;
    height: 1px;
	max-width : 1000px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}
#Text
{
  max-width : 86%;
  position : absolute;
  top : 47%;
  margin-left : 7.5%;
}
#Text p
{
  text-align : justify;
  font-size : 26px;
  font-family : Calibri;
}
#Vigilance_Logo
{
  position : absolute;
  top : 87.5%;
  left : 7.5%;
  height :350px;
  width : 450px;
}
#slideshow img {
  width: 680px;
  height: 350px;
}

#slideshow > div {
  position: absolute;
  top: 87.5%;
  left: 43%;
}
#Title2
{
  position : absolute;
  max-width : 800px;
  top : 150%;
  left : 28%;
}
#Title2 p
{
  font-size : 40px;
  text-align : center;
}
.sexy_line2
{ 
    left : 13%;
    position : relative;
    top : 1046px;
    height: 1px;
	max-width : 1000px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}
#Text2
{
  max-width : 86%;
  position : absolute;
  top : 162%;
  margin-left : 7.5%;
}
#Text2 p
{
  text-align : justify;
  font-size : 26px;
  font-family : Calibri;
}
#Rabindranath_Logo
{
  position : absolute;
  top : 210%;
  left : 7.5%;
  max-height :650px;
  max-width : 300px;
}
#slideshow2 img {
  width: 830px;
  height: 422px;
}

#slideshow2 > div {
  position: absolute;
  top: 210%;
  left: 32%;
}
#Footer
{
  padding : 25px;
  font-weight : Bold;
  font-family : Cambria;
  font-size : 20px;
  color : #969696;
  top : 1860px;
  position : absolute;
  text-align : center;
  height : 220px;
  width : 100%;
  background-color : black;
}
#FooterFB
{
  top : 1910px;
  position : absolute;
  display : block;
  height : 35px;
  width : 35px;
  left : 12%;
  -webkit-transition : -webkit-transform 1s;
}
#FooterFB:hover
{
  -webkit-transform : rotate(360deg);
}
#Email
{
  font-family : Cambria;
  font-size : 20px;
  color : #969696;
  top : 2030px;
  left : 3%;
  position : absolute;
}
#Team
{
  font-family : Cambria;
  font-size : 20px;
  color : #969696;
  top : 1970px;
  left : 9%;
  position : absolute;
}
#Team:hover
{
  color : orange;
}
#map {
        position: relative;
        
      }
#map iframe {
        position: absolute;
        top: 1870px;
        left: 75%;;
        width: 300px !important;
        height: 200px !important;
    }